.material-window .material-box {
  margin: 5px 0 5px 0;
  padding: 2px 11px 2px 11px;
}

.workspace {
  min-width: 24px;
  min-height: 24px;
  border-radius: 9999px;
}

.focused {
  background-color: @primary;
  color: @on-primary;
}

.unfocused {
  background-color: @container-highest;
}

.surface-corner {
  background-color: @surface;
  border-radius: 20px;
}

.black-corner {
  background-color: black;
  border-radius: 20px;
}
