.bar-window {
  background-color: @surface;
  border-top: 1px solid @container-normal;
}

.start-content {
  margin: 6px 0px 6px 8px;
  padding: 4px 16px 4px 16px;
  background-color: @container-low;
  border-radius: 9999px;
}

.end-content {
  margin: 6px 8px 6px 0;
  padding: 4px 16px 4px 16px;
  background-color: @container-low;
  border-radius: 9999px;
}

.quik-toggle-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.screenshot-button {
  margin: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
}

.screenshot-button:hover {
  background-color: @container-high;
}

.screenshot-button:active {
  background-color: @container-highest;
}

.recording-button {
  margin: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
}

.recording-button:checked {
  background-color: @error-container;
}
