.bar-window {
  background-color: @surface;
  border-top: 1px solid @container-normal;
}

.start-content {
  margin: 6px 0px 6px 8px;
  padding: 5px 16px 5px 16px;
  background-color: @container-low;
  border-radius: 9999px;
}

.end-content {
  margin: 6px 8px 6px 0;
  padding: 5px 16px 5px 16px;
  background-color: @container-low;
  border-radius: 9999px;
}

.quik-toggle-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
