@import url("./color.css");
@import url("./bar.css");

button {
  background-color: transparent;
}

label {
  color: @on-surface;
  font-family:  "Rubik", "Noto Sans CJK HK";
  font-size: 15px;
  font-weight: 400;
}

.material-icon {
  margin: 0;
  padding: 0;
  color: @on-surface;
  font-family:
    "Material Symbols Rounded",
    "MaterialSymbolsRounded",
    "Material Symbols Outlined",
    "Material Symbols Sharp";
  font-size: 22px;
  font-weight: 400;
}
