* {
  font-family: "Cantarell", "Noto Sans CJK HK";
}

.material-label {
  color: @on-surface;
  font-size: 14px;
  font-weight: 700;
}

.material-window {
  background-color: @surface;
}

.material-box {
  background-color: @container-normal;
  border-radius: 13px;
}

.material-icon {
  color: @on-surface;
  font-family:
    "Material Symbols Rounded",
    "MaterialSymbolsRounded",
    "Material Symbols Outlined",
    "Material Symbols Sharp";
  font-size: 21px;
  font-weight: 400;
}
